<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-template.html}"
      th:with="currentPage='Trainee Management',currentLink='Trainee Management',currentTemplate='Default Management'"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Trainee Management</title>
</head>

<body>
<div layout:fragment="content" class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 h2 mt-0">Trainees in SRU</div>
        </div>

        <form method="get" th:action="@{/trainee-management}">
            <div class="row mt-2 mb-2 d-flex justify-content-between">

                <div class="col-md-1 dropdown">
                    <button type="button" class="btn btn-primary" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Filter
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:href="@{/trainee-management(size=${size},field = ${'default'})}">Default</a>
                        <a class="dropdown-item" th:href="@{/trainee-management(size=${size},field = ${'name'})}">
                            Name - DESC</a>
                        <a class="dropdown-item"
                           th:href="@{/trainee-management(size=${size},field = ${'account'})}">Account - DESC</a>
                        <a class="dropdown-item" th:href="@{/trainee-management(size=${size},field = ${'university'})}">University
                            - DESC</a>
                    </div>
                </div>
                <div class="input-group col-md-3">
                    <div class="input-group-prepend align-self-center">
                        <span class="input-group-text">Page size:&nbsp;</span>
                    </div>
                    <input type="number" class="form-control" name="size" id="size" min="5" max="50" th:value="${size}">
                    <input name="field" id="field" th:value="${field}" hidden>
                    <input type="submit" hidden>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-6" th:each="trainee : ${trainees}">
                <div class="card profile d-flex flex-row">
                    <div class="col-md-4 text-center">
                        <figure>
                            <img src="/img/avt.jpg" alt="" class="rounded-circle img-fluid mt-4">
                            <figcaption class="ratings">
                                <p>
                                    <a class="text-warning"
                                       th:each="i : ${#numbers.sequence( 1,trainee.score + 1, 2)}">
                                        <span class="fa fa-star"></span>
                                    </a>
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-8">
                        <h4 class="text-primary"><span
                                class="fa fa-user mr-1 text-dark"></span>
                            <a th:href="@{/trainee-management/trainee-details(id= ${trainee.id})}">[[${trainee.name}]]</a>
                        </h4>
                        <p class="mb-1"><span
                                class="fa fa-info-circle mr-1"></span><strong>Account: </strong>
                            [[${trainee.account}]]
                        </p>
                        <p class="mb-1"
                           th:if="${trainee.score <= 10 and trainee.score >= 9}"
                        ><span class="fa fa-graduation-cap mr-1"></span><strong>Rank: </strong>
                            A++
                        </p>
                        <p class="mb-1"
                           th:if="${trainee.score < 9 and trainee.score >= 8}"
                        ><span class="fa fa-graduation-cap mr-1"></span><strong>Rank: </strong>
                            A+
                        </p>
                        <p class="mb-1"
                           th:if="${trainee.score < 8 and trainee.score >= 7}"
                        ><span class="fa fa-graduation-cap mr-1"></span><strong>Rank: </strong>
                            A
                        </p>
                        <p class="mb-1"
                           th:if="${trainee.score < 7 and trainee.score >= 6}"
                        ><span class="fa fa-graduation-cap mr-1"></span><strong>Rank: </strong>
                            B
                        </p>
                        <p class="mb-1"
                           th:if="${trainee.score < 6 and trainee.score >= 5}"
                        ><span class="fa fa-graduation-cap mr-1"></span><strong>Rank: </strong>
                            C
                        </p>
                        <p class="mb-1" th:if="${trainee.score < 5}"
                        ><span class="fa fa-graduation-cap mr-1"></span><strong>Rank: </strong>
                            D
                        </p>

                        <p class="mb-1 text-primary"><span
                                class="fa fa-envelope mr-1 text-dark"></span><strong
                                class="text-dark">Email: </strong>
                            [[${trainee.email}]]
                        </p>
                        <p class="mb-1"><span class="fa fa-university mr-1"></span><strong>University: </strong>
                            [[${trainee.university}]]
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3" th:if="${totalElements > size}">
                <!-- directors pagination -->
                <nav aria-label="Pagination">
                    <ul class="pagination justify-content-center font-weight-bold">
                        <li class="page-item" th:classappend="${paginationRange.currentPage le 1} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/trainee-management(size=${size},page=${1},field = ${field})}"
                               aria-label="Previous" title="First Page" data-toggle="tooltip">
                                <span aria-hidden="true">First</span>
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${paginationRange.currentPage le 1} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/trainee-management(size=${size},page=${cPage - 1},field = ${field})}"
                               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"
                            th:each="i : ${#numbers.sequence( paginationRange.min, paginationRange.max)}"
                            th:classappend="${i eq paginationRange.currentPage} ? 'active'">
                            <a class="page-link"
                               th:href="@{/trainee-management(size=${size},page=${i},field = ${field})}"
                               th:text="${i}"
                               th:title="${'Page '+ i}" data-toggle="tooltip">
                            </a>
                        </li>
                        <li class="page-item"
                            th:classappend="${paginationRange.currentPage ge totalPages } ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/trainee-management(size=${size},page=${cPage + 1},field = ${field})}"
                               aria-label="Next" title="Next Page" data-toggle="tooltip">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item"
                            th:classappend="${paginationRange.currentPage ge totalPages } ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/trainee-management(size=${size},page=${totalPages},field = ${field})}"
                               aria-label="Next" title="Last Page" data-toggle="tooltip">
                                <span aria-hidden="true">Last</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

</body>

</html>