body {
    width: 100%;
    margin: 0%;
}

.login-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    margin-left: 17%;
    background-color: #df1ecf;  
}

.login-header > div {
    height: 100%;
    position: relative;
    /* background-color: red; */
    width: 5%;
    box-sizing: content-box;
}

.login-header .center {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 20%;
    box-sizing: content-box;
}

.login-header a {
    text-decoration: none;
    color: #96c8d5;
}

/* NAVIGATION BAR */

.navigation-bar {
    margin: 0;
    padding: 0;
    width: 17%;
    height: 100%;
    position: fixed;
    font-size: 22px;
    background-image: url(../image/snow.jpg);
    top: 0%;
}

.navigation-bar.background {
    opacity: 0.2;
}

.navigation-bar > h3 {
    margin: 0;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.navigation-bar ul {
    list-style-type: none;
    padding: 0%;
}

.navigation-bar li {
    position: relative;
}

.navigation-bar li a {
    display: block;
    margin: 0 15px;
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
}

.navigation-bar li svg {
    position: absolute;
    bottom: 20px;
}
  /* Change the link color on hover */
.navigation-bar li a:hover {
    background-color: #9c27b4;
    color: white;
    border-radius: 5px;
}

.body-container {
    margin-left: 19%;
    margin-top: 90px;
}

/*  for Login Page */

.login-page-content {
    background-color: #eeeeee;
}

