<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-template.html}"
      th:with="currentPage='Class Management',currentLink='Class Management',currentTemplate='Default Management'"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Class Management</title>
</head>

<body>
<div layout:fragment="content" class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">

                <div class="card ">
                    <div class="card-header ml-4 mt-2">
                        <h2 class="card-title mb-4" th:text="${class.name}"></h2>
                        <div class="d-flex flex-row bd-highlight font-italic">
                            <div class="d-flex flex-column bd-highlight">
                                <div class="d-flex flex-row bd-highlight">
                                    <div class="p-2 bd-highlight">Plan:</div>
                                    <div class="p-2 bd-highlight text-primary"><span th:text="${class.planCount}"
                                                                                     class="font-weight-bold"></span>
                                        students
                                    </div>
                                </div>
                                <div class="d-flex flex-row bd-highlight">
                                    <div class="p-2 bd-highlight">Start:</div>
                                    <div th:text="${#dates.format(class.openDate, 'dd-MM-yyyy')}"
                                         class="p-2 bd-highlight text-primary">01/03/2017
                                    </div>
                                </div>
                                <div class="d-flex flex-row bd-highlight">
                                    <div class="p-2 bd-highlight">Group Name:</div>
                                    <div class="p-2 bd-highlight text-primary">Fresher</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column bd-highlight">
                                <div class="d-flex flex-row bd-highlight">
                                    <div class="p-2 bd-highlight">Actual:</div>
                                    <div class="p-2 bd-highlight text-primary"><span th:text="${class.currCount}"
                                                                                     class="font-weight-bold"></span>
                                        students
                                    </div>
                                </div>
                                <div class="d-flex flex-row bd-highlight">
                                    <div class="p-2 bd-highlight">End Date:</div>
                                    <div th:text="${#dates.format(class.endDate, 'dd-MM-yyyy')}"
                                         class="p-2 bd-highlight text-primary"></div>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="card-body ">
                        <hr>
                        <div class="stats">
                            <div class="d-flex justify-content-around text-center">
                                <div class="d-flex flex-column bd-highlight mb-3" style="color: #1D62F0;">
                                    <div class="p-2 bd-highlight h3" th:text="${class.currCount}"></div>
                                    <div class="p-2 bd-highlight">Total</div>
                                </div>
                                <div class="d-flex flex-column bd-highlight mb-3" style="color: #FF3D67;">
                                    <div class="p-2 bd-highlight h3">0</div>
                                    <div class="p-2 bd-highlight">Failed</div>
                                </div>
                                <div class="d-flex flex-column bd-highlight mb-3" style="color: #33d6ff;">
                                    <div class="p-2 bd-highlight h3">0</div>
                                    <div class="p-2 bd-highlight">Passed</div>
                                </div>
                                <div class="d-flex flex-column bd-highlight mb-3" style="color: #4e565c;">
                                    <div class="p-2 bd-highlight h3">0</div>
                                    <div class="p-2 bd-highlight">Drop out</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-5">
                <div class="card card-user">
                    <div class="card-image">

                    </div>
                    <div class="card-body">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="/img/avt.jpg" alt="...">
                            </a>
                            <h2 class="mt-0 mb-0" th:text="${class.trainer.name}"></h2>

                        </div>
                    </div>


                    <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link-custom active" id="pills-account-tab" data-toggle="pill"
                               href="#pills-account" role="tab" aria-controls="pills-account" aria-selected="true">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-custom" id="pills-phone-tab" data-toggle="pill" href="#pills-phone"
                               role="tab" aria-controls="pills-phone" aria-selected="false">Phone</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-custom" id="pills-email-tab" data-toggle="pill" href="#pills-email"
                               role="tab" aria-controls="pills-email" aria-selected="false">Email</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-custom" id="pills-skill-tab" data-toggle="pill" href="#pills-skill"
                               role="tab" aria-controls="pills-skill" aria-selected="false">Skill</a>
                        </li>
                    </ul>

                    <div class="tab-content ml-4 mt-2 mb-4" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-account" role="tabpanel"
                             aria-labelledby="pills-account-tab">
                            <h3 th:text="${class.trainer.name}"></h3>
                        </div>
                        <div class="tab-pane fade" id="pills-phone" role="tabpanel" aria-labelledby="pills-phone-tab">
                            <h3 th:text="${class.trainer.telNumber}"></h3>
                        </div>
                        <div class="tab-pane fade" id="pills-email" role="tabpanel" aria-labelledby="pills-email-tab">
                            <h3 th:text="${class.trainer.email}"></h3>
                        </div>
                        <div class="tab-pane fade" id="pills-skill" role="tabpanel" aria-labelledby="pills-skill-tab">
                            <h3 th:text="${class.trainer.email}"></h3>
                        </div>

                    </div>

                    <!-- <div>
                        <nav class="nav nav-pills nav-justified nav-custom">
                            <a class="nav-item nav-link active" href="#">Account</a>
                            <a class="nav-item nav-link" href="#">Phone</a>
                            <a class="nav-item nav-link" href="#">Email</a>
                            <a class="nav-item nav-link" href="#">Skill</a>
                        </nav>
                    </div> -->

                    <!-- <div class="ml-4 mt-2 mb-4">
                        <h3 th:text="${class.trainer.name}">DuongMH</h3>
                    </div>

                    <div class="button-container mr-auto ml-auto">

                    </div> -->
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-end">
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-block">Import Attendance</button>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary btn-block">Import Interview Result</button>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-block">Import Class Info</button>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary btn-block">Import Head Teacher</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex d-row mb-3 pl-0">
                <div class="col-md-1">
                    <a type="button" class="btn btn-primary"
                       th:href="@{/class-management/class-details(id = ${classId},page=${cPage},view='list')}"><i
                            class="fa fa-th-large" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-md-1">
                    <a type="button" class="btn btn-primary"
                       th:href="@{/class-management/class-details(id = ${classId},page=${cPage},view='tiles')}"><i
                            class="fa fa-th-list" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <th:block th:if="${modeView eq 'list'}">
                <div class="col-md-6" th:each="trainee : ${trainees}">
                    <div class="card profile d-flex flex-row">
                        <div class="col-md-4 text-center">
                            <figure>
                                <img src="/img/avt.jpg" alt="" class="rounded-circle img-fluid mt-4">
                                <figcaption class="ratings">
                                    <p>
                                        <a class="text-warning"
                                           th:each="i : ${#numbers.sequence( 1,trainee.score + 1, 2)}">
                                            <span class="fa fa-star"></span>
                                        </a>
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-8">
                            <h4 class="text-primary"><span
                                    class="fa fa-user mr-1 text-dark"></span>
                                <a th:href="@{/trainee-management/trainee-details(id= ${trainee.id})}">[[${trainee.name}]]</a>
                            </h4>
                            <p class="mb-1"><span
                                    class="fa fa-info-circle mr-1"></span><strong>Account: </strong>
                                [[${trainee.account}]]
                            </p>
                            <p class="mb-1"
                               th:if="${trainee.score <= 10 and trainee.score >= 9}"
                            ><span class="fa fa-graduation-cap mr-1"></span><strong>Rank: </strong>
                                A++
                            </p>
                            <p class="mb-1"
                               th:if="${trainee.score < 9 and trainee.score >= 8}"
                            ><span class="fa fa-graduation-cap mr-1"></span><strong>Rank: </strong>
                                A+
                            </p>
                            <p class="mb-1"
                               th:if="${trainee.score < 8 and trainee.score >= 7}"
                            ><span class="fa fa-graduation-cap mr-1"></span><strong>Rank: </strong>
                                A
                            </p>
                            <p class="mb-1"
                               th:if="${trainee.score < 7 and trainee.score >= 6}"
                            ><span class="fa fa-graduation-cap mr-1"></span><strong>Rank: </strong>
                                B
                            </p>
                            <p class="mb-1"
                               th:if="${trainee.score < 6 and trainee.score >= 5}"
                            ><span class="fa fa-graduation-cap mr-1"></span><strong>Rank: </strong>
                                C
                            </p>
                            <p class="mb-1" th:if="${trainee.score < 5}"
                            ><span class="fa fa-graduation-cap mr-1"></span><strong>Rank: </strong>
                                D
                            </p>

                            <p class="mb-1 text-primary"><span
                                    class="fa fa-envelope mr-1 text-dark"></span><strong
                                    class="text-dark">Email: </strong>
                                [[${trainee.email}]]
                            </p>
                            <p class="mb-1"><span class="fa fa-university mr-1"></span><strong>University: </strong>
                                [[${trainee.university}]]
                            </p>
                        </div>
                    </div>
                </div>

            </th:block>

            <th:block th:unless="${modeView eq 'list'}">
                <div class="col-md-12" th:each="trainee : ${trainees}">
                    <div class="card d-flex flex-row">
                        <div class="col-md-1 text-center">
                            <figure>
                                <img src="/img/avt.jpg" alt="" class="rounded-circle img-fluid mt-3 mb-0">
                            </figure>
                        </div>
                        <div class="col-md-11 d-flex flex-row">
                            <div class="col-md-4">
                                <h4 class="text-primary mt-3 mb-2"><span
                                        class="fa fa-user mr-1 text-dark"></span>
                                    <a href="#">[[${trainee.name}]]</a>
                                </h4>
                                <figure class="ml-1">
                                    <figcaption class="ratings">
                                        <p class="pl-4">
                                            <a class="text-warning"
                                               th:each="i : ${#numbers.sequence( 1,trainee.score + 1, 2)}">
                                                <span class="fa fa-star"></span>
                                            </a>
                                        </p>
                                    </figcaption>
                                </figure>

                            </div>
                            <div class="col-md-4">
                                <p class="d-flex align-items-center mt-3"><span
                                        class="fa fa-info-circle mr-1"></span><strong>Account: </strong>
                                    &nbsp;[[${trainee.account}]]
                                </p>

                                <p class="d-flex align-items-center mt-3"
                                   th:if="${trainee.score <= 10 and trainee.score >= 9}"
                                ><span class="fa fa-graduation-cap mr-1"></span><strong>Rank: </strong>
                                    &nbsp;A++
                                </p>
                                <p class="d-flex align-items-center mt-3"
                                   th:if="${trainee.score < 9 and trainee.score >= 8}"
                                ><span class="fa fa-graduation-cap mr-1"></span><strong>Rank: </strong>
                                    &nbsp;A+
                                </p>
                                <p class="d-flex align-items-center mt-3"
                                   th:if="${trainee.score < 8 and trainee.score >= 7}"
                                ><span class="fa fa-graduation-cap mr-1"></span><strong>Rank: </strong>
                                    &nbsp;A
                                </p>
                                <p class="d-flex align-items-center mt-3"
                                   th:if="${trainee.score < 7 and trainee.score >= 6}"
                                ><span class="fa fa-graduation-cap mr-1"></span><strong>Rank: </strong>
                                    &nbsp;B
                                </p>
                                <p class="d-flex align-items-center mt-3"
                                   th:if="${trainee.score < 6 and trainee.score >= 5}"
                                ><span class="fa fa-graduation-cap mr-1"></span><strong>Rank: </strong>
                                    &nbsp;C
                                </p>
                                <p class="d-flex align-items-center mt-3" th:if="${trainee.score < 5}"
                                ><span class="fa fa-graduation-cap mr-1"></span><strong>Rank: </strong>
                                    &nbsp;D
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="d-flex align-items-center mt-3 text-primary"><span
                                        class="fa fa-envelope mr-1 text-dark"></span><strong
                                        class="text-dark">Email: </strong>
                                    &nbsp;[[${trainee.email}]]
                                </p>
                                <p class="d-flex align-items-center mt-3"><span
                                        class="fa fa-university mr-1"></span><strong>University: </strong>
                                    &nbsp;[[${trainee.university}]]
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>


        </div>
        <div class="row">
            <div class="col-md-12 mt-3" th:if="${totalElements > size}">
                <!-- directors pagination -->
                <nav aria-label="Pagination">
                    <ul class="pagination justify-content-center font-weight-bold">
                        <li class="page-item" th:classappend="${paginationRange.currentPage le 1} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/class-management/class-details(id=${classId},page=${1},view = ${modeView})}"
                               aria-label="Previous" title="First Page" data-toggle="tooltip">
                                <span aria-hidden="true">First</span>
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${paginationRange.currentPage le 1} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/class-management/class-details(id=${classId},page=${cPage - 1},view = ${modeView})}"
                               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"
                            th:each="i : ${#numbers.sequence( paginationRange.min, paginationRange.max)}"
                            th:classappend="${i eq paginationRange.currentPage} ? 'active'">
                            <a class="page-link"
                               th:href="@{/class-management/class-details(id=${classId},page=${i},view = ${modeView})}"
                               th:text="${i}"
                               th:title="${'Page '+ i}" data-toggle="tooltip">
                            </a>
                        </li>
                        <li class="page-item"
                            th:classappend="${paginationRange.currentPage ge totalPages } ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/class-management/class-details(id=${classId},page=${cPage + 1},view = ${modeView})}"
                               aria-label="Next" title="Next Page" data-toggle="tooltip">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item"
                            th:classappend="${paginationRange.currentPage ge totalPages } ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/class-management/class-details(id=${classId},page=${totalPages},view = ${modeView})}"
                               aria-label="Next" title="Last Page" data-toggle="tooltip">
                                <span aria-hidden="true">Last</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

</body>

</html>