<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-template.html}"
      th:with="currentPage='Subject List',currentLink='Subject',currentTemplate='General Management'"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Subject list</title>
</head>

<body>
<div layout:fragment="content" class="content">
    <div class="container-fluid col-md-11">
        <form>
            <div class="row d-flex justify-content-end">
                <div class="input-group col-md-3">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row justify-content-center">
                <h2 class="mt-0 mb-0">Subject List</h2>
            </div>
            <div class="row d-flex justify-content-end">
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary btn-block">Export</button>
                </div>
            </div>
        </form>
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="strpied-tabled-with-hover">
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover text-center">
                            <thead>
                            <tr>
                                <th>NO</th>
                                <th>NAME</th>
                                <th>DURATION</th>
                                <th>LECTURER</th>
                                <th>NOTE</th>

                            </tr>
                            </thead>
                            <tbody>
                            <!-- <tr>
                                <td>1</td>
                                <td>Dakota Rice</td>
                                <td>$36,738</td>
                                <td>Niger</td>
                                <td>Oud-Turnhout</td>
                            </tr> -->
                            <tr th:each="subject : ${courses}">
                                <td>1</td>
                                <td th:text="${subject.name}">Dakota Rice</td>
                                <td> <span th:text="${subject.duration}"></span>d</td>
                                <td th:text="${subject.trainer.name}">Niger</td>
                                <td th:text="${subject.note}">Oud-Turnhout</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>

</html>