<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-template.html}"
      th:with="currentPage='Subject Details',currentLink='Subject',currentTemplate='General Management'"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Subject details</title>
</head>

<body>
<div layout:fragment="content" class="content">
    <div class="container-fluid col-md-11">
        <form>
            <div class="row d-flex justify-content-end">
                <div class="input-group col-md-3">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row justify-content-center">
                <h2 class="mt-0 mb-0">Requirement And Design</h2>
            </div>
            <div class="row d-flex justify-content-end">
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary btn-block">Export</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <p class="mb-2"><strong>Duration:&nbsp;</strong><span th:text="${course.duration}"></span> days</p>
            </div>
            <div class="col-md-12">
                <p class="mb-2" th:text="${course.trainer.name}"><strong>Lecture:&nbsp;</strong>Mai Hoang Duong </p>
            </div>
            <div class="col-md-12">
                <p class="mb-2"><strong>Objectives:&nbsp;</strong></p>
                <ul class="mb-2" style="list-style:none;">
                    <li th:each="to : ${course.trainer.trainingObjectives}" th:text="${to.name}">Software Requirement</li>
                </ul>
            </div>
            <div class="col-md-12">
                <p><strong>Course:&nbsp;</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="strpied-tabled-with-hover">
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>NO</th>
                                <th>FULL NAME</th>
                                <th>CLASS NAME</th>
                                <th>NOTE</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- <tr>
                                <td>1</td>
                                <td>Dakota Rice</td>
                                <td>$36,738</td>
                                <td>Niger</td>
                            </tr> -->
                            <tr th:each="trainee : ${course.trainee}">
                                <td>2</td>
                                <td th:text="${trainee.name}">Minerva Hooper</td>
                                <td th:text="${trainee.course.name}">$23,789</td>
                                <td th:text="${trainee.course.note}">Curaçao</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>

</html>