<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-template.html}"
    th:with="currentPage='Trainee List',currentLink='Trainee',currentTemplate='General Management'">

<head>
    <title>Trainee list</title>
</head>

<body>
    <div layout:fragment="content" class="content">
        <div class="container-fluid col-md-11">
            <form>
                <div class="row d-flex justify-content-end">
                    <div class="input-group col-md-3">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <h2 class="mt-0 mb-0">Trainee List</h2>
                </div>
                <div class="row d-flex justify-content-end">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary btn-block">Export</button>
                    </div>
                </div>
            </form>
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="strpied-tabled-with-hover">
                        <div class="card-body table-full-width table-responsive">
                            <table class="table table-hover text-center">
                                <thead>
                                    <tr>
                                        <th>NO</th>
                                        <th>NAME</th>
                                        <th>DURATION</th>
                                        <th>LECTURER</th>
                                        <th>NOTE</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Dakota Rice</td>
                                        <td>$36,738</td>
                                        <td>Niger</td>
                                        <td>Oud-Turnhout</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Minerva Hooper</td>
                                        <td>$23,789</td>
                                        <td>Curaçao</td>
                                        <td>Sinaai-Waas</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Sage Rodriguez</td>
                                        <td>$56,142</td>
                                        <td>Netherlands</td>
                                        <td>Baileux</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Philip Chaney</td>
                                        <td>$38,735</td>
                                        <td>Dakota Rice</td>
                                        <td>$36,738</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Doris Greene</td>
                                        <td>$63,542</td>
                                        <td>Dakota Rice</td>
                                        <td>$36,738</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Mason Porter</td>
                                        <td>$78,615</td>
                                        <td>Chile</td>
                                        <td>Dakota Rice</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>