<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-template.html}"
      th:with="currentPage='Download Templates',currentLink='Download Templates',currentTemplate='Default Management'"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Download Templates</title>
</head>

<body>
<div layout:fragment="content" class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="strpied-tabled-with-hover">
                    <div class="card-body backclo table-full-width table-responsive">
                        <table class="table table-hover text-center">
                            <thead>
                            <tr>
                                <th>FILENAME</th>
                                <th>DOWNLOAD</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>InterviewResult.xlsx</td>
                                <td>
                                    <a href="#" class="text-dark"><span class="fa fa-download"></span>Download</a>
                                </td>
                            </tr>
                            <tr>
                                <td>InterviewResult.xlsx</td>
                                <td>
                                    <a href="#" class="text-dark"><span class="fa fa-download"></span>Download</a>
                                </td>
                            </tr>
                            <tr>
                                <td>InterviewResult.xlsx</td>
                                <td>
                                    <a href="#" class="text-dark"><span class="fa fa-download"></span>Download</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</body>

</html>