<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-template.html}">

<head>
    <title>User Management System</title>
</head>

<body>
<div layout:fragment="content">
    <h1>User Management System</h1>
    <hr>
    <h2>Update User</h2>

    <form action="#" th:action="@{/saveUser}" th:object="${user}" method="POST">


        <input type="hidden" th:field="*{id}">

        <input type="text" th:field="*{account}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{name}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{email}" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Update User</button>
    </form>

    <h1>Name Of User: <span sec:="name"></span></h1>
    <hr>

    <a th:href="@{/}"> Back to User List</a>
</div>
</body>


</html>


