# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../trainee-management\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\Users\nkhoi\IdeaProjects\trainee-management\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
